<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Factoring.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>48BA644EC9CC47963D0AFFE9B789986BE714A0AE</string>
				<key>dateExpires</key>
				<string>11/4/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3WP62T952G.com.loves.factoring.release</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.loves.factoring.release</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3WP62T952G</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.loves.factoring.release</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>3WP62T952G.com.loves.factoring.release</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Factoring.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ad5fe22d-6c69-45d5-b87b-4eba3d265491</string>
				<key>name</key>
				<string>Factoring Distribution Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3WP62T952G</string>
				<key>name</key>
				<string>Love's Travel Stops &amp; Country Stores, Inc. (Enterprise)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
